$decoration-line-border-weight: 2px;

%contest-box {
  background-color: var(--app-color-indigo-veiled);
  border-radius: 2em;
  border: solid $decoration-line-border-weight var(--color-text);
  padding: 1em 2em;
}

%contest-box-hover {
  background-color: var(--app-color-ocre-veiled);
}

%contest-box-idle {
  background-color: var(--app-color-indigo-veiled);
  cursor: default;
}

%contest-box-selected {
  background-color: var(--app-color-ocre);
  color: var(--app-color-black-soft);
  font-weight: bold;
}

%contest-box-success {
  background-color: var(--app-color-green);
  color: var(--app-color-white-soft);
  font-weight: bold;
}

%contest-box-error {
  background-color: var(--app-color-red);
  color: var(--app-color-white-soft);
  font-weight: bold;
}

%decoration-line {
  content: '';
  display: block;
  height: $decoration-line-border-weight;
  background-color: var(--color-text);
  position: absolute;
  width: 100%;
  z-index: -1;
}

.c-question {
  @extend %contest-box;
  text-align: center;
}

.c-answer {
  @extend %contest-box;
  cursor: pointer;

  display: flex;
  gap: 1rem;

  &:hover {
    @extend %contest-box-hover;
  }

  &.idle {
    @extend %contest-box-idle;
  }

  &.selected {
    @extend %contest-box-selected;
  }

  &.success {
    @extend %contest-box-success;
  }

  &.error {
    @extend %contest-box-error;
  }

  .answer-id {
    color: var(--app-color-ocre);
  }

  &.selected {
    .answer-id {
      color: var(--app-color-black-mute);
    }
  }

  &.success,
  &.error {
    .answer-id {
      color: var(--app-color-white-mute);
    }
  }
}

.c-question-container {
  position: relative;

  &::before {
    @extend %decoration-line;
    top: 50%;
  }

  > .inner {
    @extend %container;
  }
}

.c-answers-container {
  position: relative;

  &::before {
    @extend %decoration-line;
    top: calc(25% - (var(--grid-gap, 0) / 4) + 1px);
  }

  &::after {
    @extend %decoration-line;
    bottom: calc(25% - (var(--grid-gap, 0) / 4) + 1px);
  }

  > .inner {
    @extend %container;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.c-contest-pane {
  --grid-gap: 2rem;

  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.c-question-summary-item {
  @extend %contest-box;
  text-align: center;
  padding: 0.33em 0.66em;
  cursor: pointer;

  &.success {
    @extend %contest-box-success;
  }

  &.error {
    @extend %contest-box-error;
  }

  &.current {
    @extend %contest-box-selected;
    background-color: var(--app-color-ocre);
  }
}

.c-question-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  font-size: 0.8em;

  max-width: 20em;
}
